html {
    scroll-behavior: smooth;
}

*,*::before*::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Arial" sans-serif;
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.header {
    position: fixed;
    width: 100%;
    background-color: black;
    color: white;
    z-index: 10;
}

.container {
    max-width: 1400px;
    width: 100%;
    padding: 0 40px;
    margin: 0 auto;
}

.header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span {
    color: blue;
}

.menu__list {
    display: flex;
    list-style: none;
}

.menu__item {
    padding-left: 20px;
    font-weight: 900;
    font-size: 17px;
    transition: all 0.3s linear;
}

.menu__item:hover {
    color: yellow;
    transform: scale(1.1);
    opacity: 0.9;
    text-decoration: underline;
}


.menu__item:nth-child(1) {
    padding-left: 0px;
}

.parallax-window {
	min-height: 800px;
	background: transparent;
}

.parallax__title {
    color: white;
    transform: translate(350px, -450px);
    margin: 0;
    font-size: 60px;   
}

.gallery__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 30px; */
    /* padding: 30px; */
    flex-wrap: wrap;
}



.gallery__wrapper img {
    transition: all 0.4s;
}

.gallery__a {
    margin: 20px;
    border: 2px solid white;
    overflow: hidden;
}

.gallery__wrapper img:hover {
    transform: scale(1.6);
}

.gallery__title {
    text-align: center;
    font-weight: 900;
    font-size: 50px;
}

.parallax__wrapper {
    background-repeat: no-repeat;
}


.gallery__line {
    display: block;
    width: 200px;
    height: 10px;
    margin-left: 600px;
    background-color: orange;
}

 .hello {
    color: blue;
    transform: translate(600px, -450px); 
    font-weight: 900;
    font-size: 34px;
}

.aos__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 600px;
    margin: 0 auto;
}

.aos__card {
    width: 200px;
    padding: 20px;
    margin: 10px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    background-color: grey;
    color: white;
}

/* .aos__card:hover {
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    background-color: grey;
    border: none;
    font-weight: 900;
} */

.aos__title {
    text-align: center;
    color: blue;
}

.aos__list {
    list-style: none;
}

.aos__sub__title {
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    color: orange;
}

.form__validation {
    background-color: aqua;
    padding: 30px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__input {
    display: block;
    align-items: center;
    width: 300px;
    outline: none;
    padding: 10px;
    color: white;
    font-size: 14px;
    border-radius: 8px;
    margin: 10px;
    transition: all 0.3s;
}

.form__input:hover {
    background-color: white;
    color: black;
}

.form__area {
    /* background-color: grey; */
    border-radius: 8px;
    color: aliceblue;
    resize: vertical;
    min-height: 50px;
    transition: all 0.2s ease;
}

.form__area:hover {
    background-color: white;
    color: black;
}

.form__btn {
    width: 100px;
    /* margin: 0 auto; */
    transform: translateX(130px);
    border-radius: 8px;
    padding: 10px 15px;
}